.green {
  background-color: #4E5340;
  color: #E8E8E8;
  text-align: center;
  padding: 1em;
}

.grey {
  background-color: #E8E8E8;
  padding: 1em;
  margin: 10px 0px 0px;
}

body {
  background-image: url("record.png");
  background-repeat: repeat;
  margin: 0;
}


/*https://coolors.co/4e5340-697268-95a3a4-b7d1da-e2e8dd*/
