.green {
  background-color: #4E5340;
  color: #E8E8E8;
  text-align: center;
  padding: 1em;
}

.grey {
  background-color: #E8E8E8;
  padding: 1em;
  margin: 10px 0px 0px;
}

body {
  background-image: url("record.png");
  background-repeat: repeat;
  margin: 0;
}

.stripes {
  text-align: center;
  padding: 0.5em;
  color: #4E5340;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(45deg, #daefb3 16.67%, #eef4d4 16.67%, #eef4d4 33.33%, #fff 33.33%, #fff 50%, #daefb3 50%, #daefb3 66.67%, #eef4d4 66.67%, #eef4d4 83.33%, #fff 83.33%, #fff 100%);
  background-size: 84.85px 84.85px;
}
